# Python
__pycache__/
*.pyc
*.pyo
*.so
.Python
*.db

# Backend
backend/mlflow.db
backend/__pycache__/
backend/mlruns/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/data/tmdb_5000_movies.csv
